.public-user-field.frc-team-number {
    display: none;
}

h3.user-card-public-field {
    clear: both;
}

.tba-icon {
    height: 1.2em;
    width: 1.2em;
}

.public-user-fields {
    margin-bottom: 0;
}